*~
.hydra
*.pyc
datasets/
results/
outputs/*
MUJOCO_LOG.TXT
wandb/
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/
custom_pddl/
libero.egg-info/
.vscode/
libero/libero/assets/
/datasets/
/data/
/processed_data/
/vggt-omega/
/exp/
/.agents/
/.codex/
/.aws/
.DS_Store/